<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<head>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous"
    />

    <body>
        <nav style="text-align: center"><br>
            <h1 >Welcome to Tasker!</h1>    
            <% if (user) { %>
                <p>You are logged in. Click <a href="/profile">here</a> for the home page</p>
            <% } else { %>
                <br><h3><a href="/auth/google"> <img src="/images/google.png"> </a></h3>
            <% } %>
            </nav>
       
    </body>